@model Department
@{
    ViewData["Title"] = "New";
}

<h1>New</h1>
<!--Url:Get:==> /Department/SaveNew?Name=dept1&ManagerName=Ahmed-->
<form action="/Department/SaveNew" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="Name" required id="Name" value="@Model?.Name" class="form form-control" />
    </div>
    <div>
        <label>Manager Name</label>
        <input type="text" name="ManagerName" id="ManagerName" value="@Model?.ManagerName" class="form form-control" />
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
</form>
<a href="/Department/index">Back To List</a>